<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
       {{ site.title | escape }}
    </a>

    {%- if page_paths -%}
  <nav class="site-nav">
  <a href="/about">About</a>
  <a href="/search">Search BatLit</a>
  <a href="https://zenodo.org/communities/batlit">Zenodo Collection</a>
  <a href="/datapaper">Data Paper</a>
  <a href="/join">Join</a>
  <a href="/contribute">Upload Literature</a>
</nav>
  </div>
  {% if page.banner %}
  <div class="banner">
    <img src="{{ page.banner }}"></img>
    <div class="banner-text">{{ page.banner-text }}</div>
    <div class="banner-text banner-text-smaller">{{ page.banner-subtext }}</div>
  </div>
  {% endif %}
</header>
